/* bad css by avosirenfal, PRs welcome https://github.com/avosirenfal/google-search-revert */

/* make result container flexbox so order property works */
.r > a {
	display: flex;
	flex-direction: column;
}

/* move url to bottom */
.TbwUpd {
	order: 5;
}

/* restore link color */
.TbwUpd cite, a.ab_button, a.ab_button:visited {
    color: #006d21
}

/* dropdown arrow position */
.B6fmyf {
	top: 30px; /* hardcoded guess */
}

/* hide now unnecessary br that creates empty space */
.r > a > br {
	display: none;
}

/* hide favicons */
.r img.xA33Gc {
	display: none;
}

/* hide underline on url */
#rcnt a:hover {
	text-decoration: none;
}
