/* bad css by avosirenfal, PRs welcome https://github.com/avosirenfal/google-search-revert */

/* make container flex so order property works */
.r > a {
	display: flex;
	flex-direction: column;
}

/* move url to bottom */
.TbwUpd {
	position: relative;
	order: 5;
}

/* restore link color */
.TbwUpd cite, a.ab_button, a.ab_button:visited {
	color: #006d21
}

/* restore dropdown button color */
.action-menu .mn-dwn-arw {
	border-color: #006d21 transparent;
}

/* dropdown arrow */
.B6fmyf {
	top: 30px; /* hardcoded guess */
}

/* hide now unnecessary br that creates empty space */
.r > a > br {
	display: none;
}

/* hide favicons */
.r img.xA33Gc {
	display: none;
}

/* hide underline on url */
#rcnt a:hover {
	text-decoration: none;
}
